In [27]:
import os, io
from google.cloud import vision
from google.cloud.vision import types
import pandas as pd
import datetime
import nltk
import nltk.corpus
from nltk.tokenize import word_tokenize
from nltk import ne_chunk
from openpyxl import Workbook
import openpyxl

In [28]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] =  r'RCtoText.json'
client = vision.ImageAnnotatorClient()
FILE_NAME = 'txt_mudit_b8_1_545.jpg'
FOLDER_PATH = r'C:\Users\BIPIN\Documents\Python Venv\RC2Text\RC'

In [4]:
with io.open(os.path.join(FOLDER_PATH,FILE_NAME), 'rb') as image_file:
    content = image_file.read()

In [5]:
image =  vision.types.Image(content=content)
response = client.text_detection(image=image)
texts = response.text_annotations
df = pd.DataFrame(columns=['locale','description'])

In [6]:
for text in texts:
    df = df.append(dict(locale=text.locale,description=text.description),ignore_index=True)

In [7]:
details_list = df['description'].values.tolist()

In [8]:
rem_list = []

In [9]:
rem_list = ['REGN. NO','REG. DT','CH. NO','E NO','O SNO','MFG CD','COLOUR','CLASS','MUL','L.M.V.','NAME','SWID OF',
                'S/W/D OF','ADDRESS','HP/LEASE','MODEL','BODY','WHEEL BASE','MFG.DT.','FUEL','REG.UPTO','TAX UPTO',
               'Registering Authority','Registering','Authority','SALOON','NO. OF CYL','UNLADEN WT','SEATING C','SEATING',
               'STANDING','STANDING C','CU.CAP','Signature','GOVERNMENT','OF','HARYANA','CERTIFICATE','REGISTRATION','RULE',
           'NO.','Registration','No.','Name','Address','Regd','Owner','Previous','Chasis','Engine','Manufacture','Capacity',
           'Seating','including','(including',':']

In [10]:
dt = details_list
print(dt)

['GOVERNMENT OF HARYANA\nCERTIFICATE OF REGISTRATION\n(FORM NO. 23 RULE 48)\nHR42-A-4854\nRegistration No.\nName &Address\nASHWAN\nof Regd Owner\nS/o RAM BHAJ\nBHIGAN,TEH.GNR\nSONIPAT\nPrevious Regn. No. N/A\nPrevious Owner\nN/A\nChasis No.\nMA3EED81S00628175\nEngine No.\nF10DN4452456\nMonth/ Year of Manufacture\n23/01/2008\nSeating Capacity\n(including driver)\nFuel Used\nPetrol\n14.09.2011 15:12\n', 'GOVERNMENT', 'OF', 'HARYANA', 'CERTIFICATE', 'OF', 'REGISTRATION', '(FORM', 'NO.', '23', 'RULE', '48)', 'HR42-A-4854', 'Registration', 'No.', 'Name', '&Address', 'ASHWAN', 'of', 'Regd', 'Owner', 'S/o', 'RAM', 'BHAJ', 'BHIGAN,TEH.GNR', 'SONIPAT', 'Previous', 'Regn.', 'No.', 'N/A', 'Previous', 'Owner', 'N/A', 'Chasis', 'No.', 'MA3EED81S00628175', 'Engine', 'No.', 'F10DN4452456', 'Month/', 'Year', 'of', 'Manufacture', '23/01/2008', 'Seating', 'Capacity', '(including', 'driver)', 'Fuel', 'Used', 'Petrol', '14.09.2011', '15:12']

In [11]:
extract_name = dt[0]
extract_name

'GOVERNMENT OF HARYANA\nCERTIFICATE OF REGISTRATION\n(FORM NO. 23 RULE 48)\nHR42-A-4854\nRegistration No.\nName &Address\nASHWAN\nof Regd Owner\nS/o RAM BHAJ\nBHIGAN,TEH.GNR\nSONIPAT\nPrevious Regn. No. N/A\nPrevious Owner\nN/A\nChasis No.\nMA3EED81S00628175\nEngine No.\nF10DN4452456\nMonth/ Year of Manufacture\n23/01/2008\nSeating Capacity\n(including driver)\nFuel Used\nPetrol\n14.09.2011 15:12\n'

In [12]:
dt.remove(dt[0])
dt

['GOVERNMENT',
 'OF',
 'HARYANA',
 'CERTIFICATE',
 'OF',
 'REGISTRATION',
 '(FORM',
 'NO.',
 '23',
 'RULE',
 '48)',
 'HR42-A-4854',
 'Registration',
 'No.',
 'Name',
 '&Address',
 'ASHWAN',
 'of',
 'Regd',
 'Owner',
 'S/o',
 'RAM',
 'BHAJ',
 'BHIGAN,TEH.GNR',
 'SONIPAT',
 'Previous',
 'Regn.',
 'No.',
 'N/A',
 'Previous',
 'Owner',
 'N/A',
 'Chasis',
 'No.',
 'MA3EED81S00628175',
 'Engine',
 'No.',
 'F10DN4452456',
 'Month/',
 'Year',
 'of',
 'Manufacture',
 '23/01/2008',
 'Seating',
 'Capacity',
 '(including',
 'driver)',
 'Fuel',
 'Used',
 'Petrol',
 '14.09.2011',
 '15:12']

In [13]:
date_format = '%d/%m/%Y'
mfg_date_format = '%m/%Y'
flag = 0
flag2 = 0
date_list = []
date_obj = ""
_string_ = "" 
names = []
count = 0
name = ''

In [14]:
for block in rem_list:
    for word in dt:
        if block == word:
            dt.remove(word)
dt

['(FORM',
 '23',
 '48)',
 'HR42-A-4854',
 '&Address',
 'ASHWAN',
 'of',
 'S/o',
 'RAM',
 'BHAJ',
 'BHIGAN,TEH.GNR',
 'SONIPAT',
 'Regn.',
 'N/A',
 'N/A',
 'MA3EED81S00628175',
 'F10DN4452456',
 'Month/',
 'Year',
 'of',
 '23/01/2008',
 'driver)',
 'Fuel',
 'Used',
 'Petrol',
 '14.09.2011',
 '15:12']

In [15]:
for i in dt:
    try:
        date_obj = datetime.datetime.strptime(i, date_format)
        newformat = date_obj.strftime('%Y-%m-%d')
        date_list.append(newformat)
    except ValueError:
        continue

In [16]:
for i in dt:
    try:
        date_obj = datetime.datetime.strptime(i, mfg_date_format)
        newformat = date_obj.strftime('%Y-%m')
        date_list.append(newformat)
    except ValueError:
        continue

In [17]:
date_list = sorted(date_list)

In [18]:
for i in range(2):
    date_list.append('')

In [19]:
cha_no = ''
eng_no = ''
reg_no = ''

In [20]:
extract_name

'GOVERNMENT OF HARYANA\nCERTIFICATE OF REGISTRATION\n(FORM NO. 23 RULE 48)\nHR42-A-4854\nRegistration No.\nName &Address\nASHWAN\nof Regd Owner\nS/o RAM BHAJ\nBHIGAN,TEH.GNR\nSONIPAT\nPrevious Regn. No. N/A\nPrevious Owner\nN/A\nChasis No.\nMA3EED81S00628175\nEngine No.\nF10DN4452456\nMonth/ Year of Manufacture\n23/01/2008\nSeating Capacity\n(including driver)\nFuel Used\nPetrol\n14.09.2011 15:12\n'

In [21]:
extract_name = extract_name.replace('\n',' ')
extract_name = extract_name.replace(':',' ')
extract_name

'GOVERNMENT OF HARYANA CERTIFICATE OF REGISTRATION (FORM NO. 23 RULE 48) HR42-A-4854 Registration No. Name &Address ASHWAN of Regd Owner S/o RAM BHAJ BHIGAN,TEH.GNR SONIPAT Previous Regn. No. N/A Previous Owner N/A Chasis No. MA3EED81S00628175 Engine No. F10DN4452456 Month/ Year of Manufacture 23/01/2008 Seating Capacity (including driver) Fuel Used Petrol 14.09.2011 15 12 '

In [22]:
def Convert(string):
    li = list(string.split(" "))
    return li

In [23]:
extract_list = Convert(extract_name)
#extract_list = extract_list.remove(' ')
print(extract_list)

['GOVERNMENT', 'OF', 'HARYANA', 'CERTIFICATE', 'OF', 'REGISTRATION', '(FORM', 'NO.', '23', 'RULE', '48)', 'HR42-A-4854', 'Registration', 'No.', 'Name', '&Address', 'ASHWAN', 'of', 'Regd', 'Owner', 'S/o', 'RAM', 'BHAJ', 'BHIGAN,TEH.GNR', 'SONIPAT', 'Previous', 'Regn.', 'No.', 'N/A', 'Previous', 'Owner', 'N/A', 'Chasis', 'No.', 'MA3EED81S00628175', 'Engine', 'No.', 'F10DN4452456', 'Month/', 'Year', 'of', 'Manufacture', '23/01/2008', 'Seating', 'Capacity', '(including', 'driver)', 'Fuel', 'Used', 'Petrol', '14.09.2011', '15', '12', '']

In [24]:
for i in extract_list:
    if(i==''):
        extract_list.remove(i)
extract_list

['GOVERNMENT',
 'OF',
 'HARYANA',
 'CERTIFICATE',
 'OF',
 'REGISTRATION',
 '(FORM',
 'NO.',
 '23',
 'RULE',
 '48)',
 'HR42-A-4854',
 'Registration',
 'No.',
 'Name',
 '&Address',
 'ASHWAN',
 'of',
 'Regd',
 'Owner',
 'S/o',
 'RAM',
 'BHAJ',
 'BHIGAN,TEH.GNR',
 'SONIPAT',
 'Previous',
 'Regn.',
 'No.',
 'N/A',
 'Previous',
 'Owner',
 'N/A',
 'Chasis',
 'No.',
 'MA3EED81S00628175',
 'Engine',
 'No.',
 'F10DN4452456',
 'Month/',
 'Year',
 'of',
 'Manufacture',
 '23/01/2008',
 'Seating',
 'Capacity',
 '(including',
 'driver)',
 'Fuel',
 'Used',
 'Petrol',
 '14.09.2011',
 '15',
 '12']

In [29]:
for i in extract_list:
    if(i == 'Name &Address' or i == '&Address' or i == '&ADDRESS' or i == 'L.M.V.' or i == 'NAME'):
        if flag ==0:
            flag = 1
            continue
    if(flag == 1):
        name = i
        flag = 2

In [26]:
for i in dt:
    if(len(i)==17 and i.isalnum()):
        if i and i[0].isalpha() and i[len(i)-1].isdigit():
            cha_no = i
            print("Chassis Number: {}" .format(cha_no))
    if(len(i)==10 and i.isalnum()):
        if i and i[0].isalpha() and i[1].isalpha() and i[len(i)-1].isdigit():
            reg_no = i
            print("Regn Number: {}" .format(reg_no))
    if((len(i)==11 or len(i)==12)):
        if i and i[0].isalpha() and i[4]=='-' and i[len(i)-1].isdigit():
            reg_no = i
            print("Regn Number: {}" .format(reg_no))
    if(len(i)==12):
        if i and i[0].isalpha() and i[len(i)-1].isdigit():
            eng_no = i
            print("Engine Number: {}" .format(eng_no))

print("Name: {}" .format(name))
print("MFD: {}" .format(date_list[0]))
print("Date of Regn: {}" .format(date_list[1]))

Regn Number: HR42-A-4854
Chassis Number: MA3EED81S00628175
Engine Number: F10DN4452456
Name: ASHWAN
MFD: 2008-01-23
Date of Regn:

In [30]:
workbook_obj = openpyxl.load_workbook("RC_details.xlsx")
book = workbook_obj.active
#sheet = book.active
rows = ((reg_no,cha_no,eng_no,name,date_list[0],date_list[1]),)
for row in rows:
    book.append(row)
workbook_obj.save("C:/Users/BIPIN/Documents/Python Venv/RC2Text/RC_details.xlsx")